*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background:#262626;
    color: white;
}
#header{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
/*-------- Navigation bar --------*/
nav{
    align-items: center;
    position: fixed;
    display: flex;
    justify-content: center;  
    width: 100%;
    margin: 0 auto;
    padding: 5px 0;
    background: #262626;
    box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.8);
}
/*
.logo{
    width: 140px;
}
*/
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 20px 15px;
}
nav a {    /*-------- Special --------*/
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 17px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    text-align: center;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background:#f01008;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav a:hover {
    background:white;
    color:#f01008;
}
nav ul li a:hover::after{
    width: 100%;
}

/*-------- Intro --------*/

.header-text{
    margin-top: 20%;
    font-size: 30px;
    font-family: "Raleway";
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
    font-family: "Raleway";
}
.header-text h1 span{
     color: #f01008;
}
.intro-P {
    margin-top: -150px;   
}
.intro-P h3{
    text-shadow: 1px 1px #f01008;
    margin-left: 80px;
    font-family: "Raleway";
}
.intro-P p{
    color: #ababaa;
}
.intro-col-2{
    flex-basis: 35%;
}
.intro-col-2 img{
    width: 70%;
    /* width: 250px;
     height: 350px;*/
     margin-top: 120px;
     margin-left: 30px;
     border-radius: 5px;  
     box-shadow: 0 0px 4px 0px rgba(247, 241, 241, 0.8);
 }
/*-------------- About ----------*/
#about{
    padding: 18px 0;
    color: #ababaa;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 0px 4px 0px rgba(247, 241, 241, 0.8);
 }

.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: white; 
}
.about-col-2 h1{
    margin-bottom: 10px;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
content: '';
width: 0;
height: 3px;
background: #f01008;
position: absolute;
left: 0;
bottom: -9px;
transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
 color:#b45769;
 font-size: 14px;
}
.tab-contents {
    display: none;
}
.tab-contents.active-tab {
    display: block;
}

/*-------------- services -------------*/

#Services{
  padding: 30px 0; 
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;  
}    
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    box-shadow: 0 0px 4px 0px rgba(247, 241, 241, 0.8);
    transition: background 0.5s, transfrom 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #f01008;
    transform: translateY(-10px);
}

/*-------------- protfolio -------------*/

#protfolio{
    padding: 50px 0;

}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0px 4px 0px rgba(247, 241, 241, 0.8);
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transfrom 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#f01008);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 600;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #f01008;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #f01008;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: backgroun 0.5s;
}
.btn:hover{
    background:#f01008;
}
/*--------------  Skills -------------*/
.sub-title-2{
    margin-top: 10px;
    margin-bottom: 10px;
}
.skills-col{
    display: grid;
    grid-gap: 5px;
}
.skill-box{
    padding: 1rem;
    color: #ababab;
    cursor: pointer;
}
.skill-title{
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem; 
}
.skill-box img{
    width: 60px;
    height: 60px;
    position: relative;
   /* border-radius: 45px;*/
    background-color:none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skill-icon{
    width: 50px;
}

/*-------------- Contact ---------------*/

.Contact-left {
    flex-basis: 35%;
}

.Contact-right {
    flex-basis: 60%;
    background: white;
    padding: 40px;
    border-radius: 10px;
}

.Contact-left p {
    margin-top: 30px;
}

.Contact-left p i {
    color:#f01008;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transfrom 0.5s;
}

.social-icons a:hover {
    color:#f01008;
    transform: translateY(-5px);
}

.btn.btn2{
    display: inline-block;
    background:#f01008;

}

.Contact-right form {
    width: 100%;
}

form input,textarea {
    width: 100%;
    border: 0;
    outline: none;
    /*background: #313131;*/
    padding: 15px;
    margin: 15px 0;
    color: black;
   /* color: #fff;*/
    border-bottom: 2px solid #333;
    outline: none;
    font-size: 18px;
    /*border-radius: 6px;*/
}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

#msg {
    color: #61b752;
    margin-top: -40px;
    display: block;
}
#Contact{
    margin-bottom: 30px;
}
/*-------------- footer ---------------*/
.footer-col h3{
    margin-bottom: 12px;
    position: relative;
}
.footer-col ul{
    list-style: none;
}
.footer-col ul li{
    margin-bottom: 6px;
}
.footer-col li a{
    line-height: 1.5;
    text-decoration: none;
    color:#ababaa;
    text-transform: capitalize;
    transition: all 0.3s ease;
    display: block;
}
.footer-col li a:hover{
    color: #fff;
}
.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262627;
    margin-top: 18px;
    box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.8);
}


/*----------- ( Media Query ) ------------*/
/*-------- css for small screen ----------*/

nav .fa-solid{
    display: none;
}
@media only screen and (max-width:600px){
    
    .header-text{
        margin-top: 40%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav{
        justify-content: right;
        padding: 20px 0;
    }
    #openmenu-icon{
        padding: 10px 10%; 
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    
    nav ul{
        background: #f01008;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
        line-height: 2.5;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
/*------------ Intro -------------*/
.intro-P {
    margin-top: -210%;

}

    .intro-col-2 img{
      /*  width: 300px;
        height: 3px;*/
        width: 100%;
        margin-left: 0px;
        margin-top: 170px; 
        border-radius: 15px; 
        
    }
    .intro-P h3{
        margin-left: 0px;
        font-size: 16px;
    } 
    .intro-col-1,.intro-col-2{
        flex-basis: 100%;
    }
    .intro-col-2{
        margin-bottom: 30px;
    }

/*------------ About -------------*/
    
    .sub-title{
        font-size: 40px;
    }
    .about-col-1,.about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        /*margin-top: 70%;*/
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }

/*------------ contact -------------*/

    .Contact-left, .Contact-right{
        flex-basis: 100%;
    }

/*------------ footer -------------*/

    .footer-col{
    margin-bottom: 30px;
    }
    .copyright{
        font-size: 14px;
        width: 100%;
    }
}

/*@media(max-width:767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}*/

@media(max-width:360px){
    .about-col-1{
        margin-top: 35%;  
    }
    .intro-P{
        margin-top: -219%;  
    }
    .intro-col-2{
        margin-top: 25px;
    }

}


